# You can configure your instance by setup following envs

############################
# General
############################

# Port to serve
# Defaults 9000
PORT=9000

# Postgresql database url
DB_URL=

# Pool size
# defaults 3
DB_POOL_SIZE=

# Relay name
RELAY_NAME=

# Relay description
RELAY_DESC=

# Admin pubkey
# Hex encoding
ADMIN_PUBKEY=

# Admin contact
ADMIN_CONTACT=

# Relay countries
RELAY_COUNTRIES=CA,US,CN,JP

###########################
# Bot settings
###########################

# Bot private key, in hex encoding
BOT_KEY=

# Bot name, defaults to `[your relay name]'s bot`
# Bot username is `[your relay name]_bot`
BOT_NAME=

# Bot avatar, defaults to https://ibb.co/G3pDMqt
BOT_AVATAR=

# Bot relay
# You must setup this value if you enabled payment bot.
BOT_RELAY=

############################
# Limitations
############################

# Max message length
LIMIT_MAX_MESSAGE_LENGTH=2000000

############################
# Strategies
############################

# NIPs
NIPS=1,2,3,4

# Event retention
EVENT_RETENTION=[{"kinds":[0,1],"time":3600}]

# Event created_at range
# NIP-22
EVENT_TIEMSTAMP_RANGE=-3600~100

# Broadcast relays
BROADCAST_RELAYS=wss://relay.damus.io,wss://relay.nostr.band

# Whitelist
# In hex encoding
WHITELIST_PUBKEYS=123123123,123123123

############################
# Preferences
############################

# Language tags
LANGUAGE_TAGS=en,en-419

# Tags
TAGS=nsfw,sfw-only,anime,geek

# Posting policy
POSTING_POLICY=https://example.com/

############################
# Payment settings
############################

# Payment LNURL
PAYMENT_LNURL=

# FEES_ADMISSION
FEES_ADMISSION=1000

# FEES_SUBSCRIPTION
FEES_SUBSCRIPTION=200/2592000

# FEES_PUBLICATION
FEES_PUBLICATION=1,2,3:300;4,5,6:100
